### ```Predicting Ethereum Prices in USD with Machine Learning and API Integration``` ###

In [2]:
import requests as req
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from api import key # api key is from cryptocompare.com

# api key, symbol, currency, and limit
API, SYM, CUR, LIM = key, "ETH", "USD", 2000

resp = req.get(f"https://min-api.cryptocompare.com/data/v2/histoday?fsym={SYM}&tsym={CUR}&limit={LIM}&api_key={API}")

In [3]:
# convert response to json
data = resp.json()
# convert json to dataframe
df = pd.DataFrame(data["Data"]["Data"])
# convert unix time to datetime
df["time"] = pd.to_datetime(df["time"], unit="s")
# set time as index
df.set_index("time", inplace=True)
# drop unnecessary columns
df = df[['close']]
# rename close to price
df = df.rename(columns={'close': 'price'})

In [4]:
df

              price
time
2017-10-23   285.27
2017-10-24   296.50
2017-10-25   296.35
2017-10-26   295.54
2017-10-27   296.36
...             ...
2023-04-11  1891.58
2023-04-12  1918.78
2023-04-13  2013.84
2023-04-14  2101.61
2023-04-15  2101.57

[2001 rows x 1 columns]

##### todo: graph it